body{
    background-color: #EEF9BF;
}

.titulo{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 47px;

}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 122px;
  padding-right: 122px;
}

ul {
  list-style-type: none;
}

/* fazer a carta virar */

.card {
    width: 117px;
    height: 146px;
    position: relative;
    margin: 17px;
  }

  img{
    width: 100px;
    height: 100px;
  }
  
  .face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }

  .virada .back-face {
    transform: rotateY(0deg);
  }

  .back-face {
    transform: rotateY(180deg);
  }

  .virada .front-face{
    transform: rotateY(-180deg);
  }

  .remover{
    display: none;
  }

@media (max-width: 600px) {
 .titulo{
  font-size: 36px;
 }   
}